@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --primary-color: #047857;
    --off-white: #FECACA;
    --dark-grey: #D1D5DB;
    --light-red: #DC2626;
    --body-color: #1F2937;
}

hr {
    margin: 2rem 0rem;
}

body {
    background-color: var(--body-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 0.5rem;
}

/* container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link:hover {
    color : #7F1D1D;
}


.primary-link {
    background-color: var(--primary-color);
    color: white;    
    border-radius: 0.5rem ;
}
.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem ;
    border: 1px solid var(--primary-color);
}

/* lists */

.non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */
.navigation {
    background-color: var(--primary-color);
    padding: 0.7rem;
    color : white;
    border-radius: 0rem 1rem 0rem 4rem;
    border: 0.2rem solid var(--dark-grey);
    margin: auto;
}

.navigation .link {
     color: white;
     
}
.alignment-nav {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .link:hover {
    background-color: #10B981;
    border-radius: 2rem;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    font-size: 35px;
    color : var(--light-red);
    padding: 0rem 1rem;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section h2, p, a {
    text-align: center;
    padding-top: 1rem;
}

.off-white {
    background-color: var(--off-white);
    text-align: center;
}

section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.section-button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 18px;
    padding : 0.4rem 1rem;
}

.section-butt {
    color: var(--primary-color);
    border-radius: 1rem ;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    padding : 0.4rem 1rem;
}

.light-text {
    color: var(--dark-grey);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    border-radius: 1rem 0rem 4rem 0rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.footer-heading {
    font-size: 22px;
    font-weight: bold; 
}

.footer .link {
    color: white;   
}

.footer ul {
    padding-inline-start: 0px;
}

.icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-bottom: -0.2rem;
}

.list-inline {
    padding: 0rem;
}




